<app-menu></app-menu>

<body>
    <div class="contenido">

        <p></p>

        <mat-card class="process">
            <div class="headers">
                <mat-card-title>Processes</mat-card-title>
            </div>

            <mat-raised-card class="cuadro">


                <mat-card role="button" (click)="getItems(process)" class="processCard" *ngFor="let process of processes">
                    <mat-card-title>
                        {{process.nombreProceso}}
                    </mat-card-title>
                    <mat-card-subtitle>AVAIBLE: {{process.visibles}}</mat-card-subtitle>
                    <mat-card-actions align="end">
                        <mat-card-item>TOTAL: {{process.total}} </mat-card-item>
                    </mat-card-actions>

                </mat-card>




            </mat-raised-card>




        </mat-card>

    </div>
</body>