body {
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: #bbbbbbf8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.processCard {
    width: 200px;
    height: 80px;
    max-width: 250px;
    cursor: pointer;
    background-color: rgb(194, 194, 194); //#A9D9FF;
    margin-left: 15px;
    margin-top: 15px;
}

.cuadro {
    width: 80%;
    background-color: #fcfcfc;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.bodyCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.process {
    width: 90%;
    background-color: #fcfcfc;
    margin-top: 10px;
}

.subcuadro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: space-around;
    justify-content: space-between;
}

.boton {
    width: 300px;
    margin-bottom: 15px;
    background-color: rgb(102, 102, 102);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc; // rgb(141, 184, 219);
}

.positronx {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
}