body {
    display: flex;
    flex-direction: column;
}

.contenido {
    background-color: #bbbbbbf8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process {
    width: 90%;
    background-color: #fcfcfc;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mat-elevation-z8 {
    background-color: #ffffff;
    width: 100%;
    position: relative;
    min-height: 200px;
    max-height: 360px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link {
    cursor: pointer;
}

.table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mat-raised-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}