<app-menu></app-menu>

<body>

    <div class="contenido">

        <p></p>


        <mat-card class="process">
            <div class="headers">
                <mat-card-title><a>Configuration</a></mat-card-title>
            </div>

            <br>


            <div class="table">
                <mat-raised-card>



                    <div class="mat-elevation-z8">


                        <mat-selection-list [multiple]="false">
                            <mat-list-option (click)="goTo('configuration/users/users-list')">
                                Users
                            </mat-list-option>
                            <mat-list-option [disabled]="false" (click)="goTo('configuration/lists/lists-list')">
                                Lists
                            </mat-list-option>
                            <mat-list-option (click)="goTo('configuration/forms/forms-list')">
                                Forms
                            </mat-list-option>
                            <mat-list-option [disabled]="false" (click)="goTo('configuration/processes/processes-list')">
                                Processes
                            </mat-list-option>
                            <mat-list-option [disabled]="false" (click)="goTo('configuration/states/states-list')">
                                States
                            </mat-list-option>
                            <mat-list-option [disabled]="true">
                                Transitions
                            </mat-list-option>
                            <mat-list-option [disabled]="true">
                                Permissions
                            </mat-list-option>
                        </mat-selection-list>



                    </div>






                </mat-raised-card>

            </div>







        </mat-card>

    </div>

</body>