.app-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF7F7; // rgb(141, 184, 219);
}

.positronx {
    text-decoration: none;
    color: black;
    padding: 10px;
}