<body>

    <div class="contenido">
        <!-- Toolbar -->
        <mat-toolbar class="app-header">
            <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <div>
                <a target="_blank" class="positronx"><img src="../../../assets/img/logo-nobackground.png"></a>
            </div>
            <span class="nav-tool-items">
                <a mat-button (click)="irA('register')" class="positronx"><mat-icon>app_registration</mat-icon></a>
            </span>

        </mat-toolbar>

        <p></p>
        <p></p>
        <p></p>

        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>
                <form class="example-form" [formGroup]="form">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="usuario" placeholder="Usuario">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="password" placeholder="Password" type="password">
                        </mat-form-field>
                    </mat-card-content>
                    <button mat-stroked-button color="primary" class="btn-block" (click)="irA('processes')">Log in</button>
                </form>
            </mat-card>
        </div>
    </div>
</body>