<body>
    <!-- Toolbar -->
    <mat-toolbar class="app-header">
        <div><a target="_blank" class="positronx">MasterOfProcess</a></div>
        <span class="nav-tool-items">
            <a mat-button (click)="irA('registrar')" class="positronx"><h1><i>Register</i></h1></a>
        </span>

    </mat-toolbar>


    <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Log in</mat-card-title>
            </mat-card-header>
            <form class="example-form" [formGroup]="form">
                <mat-card-content>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="usuario" placeholder="Usuario">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="password" placeholder="Password" type="password">
                    </mat-form-field>
                </mat-card-content>
                <button mat-stroked-button color="primary" class="btn-block" (click)="irA('dashboard')">Log in</button>
            </form>
        </mat-card>
    </div>
</body>