body {
    display: flex;
    flex-direction: column;
    height: 89.6%;
}

.contenido {
    background-color: #bbbbbbf8;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.processCard {
    width: 200px;
    height: 80px;
    max-width: 250px;
    cursor: pointer;
    background-color: #A9D9FF;
    margin-left: 15px;
    margin-top: 15px;
}

.cuadro {
    width: 80%;
    background-color: #fcfcfc;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.bodyCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.process {
    width: 90%;
    background-color: #fcfcfc;
    margin-top: 10px;
}

.subcuadro {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: space-around;
    justify-content: space-between;
}

.boton {
    width: 300px;
    margin-bottom: 15px;
    background-color: rgb(102, 102, 102);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: #bbbbbbf8;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc; // rgb(141, 184, 219);
}

.headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 4px;
}

.positronx {
    text-decoration: none;
    color: black;
    padding: 10px;
}

.link {
    cursor: pointer;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: auto;
}

.mat-cell {
    cursor: pointer;
}

.mat-elevation-z8 {
    width: 100%;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 16px;
    font-family: Helvetica;
}

.fieldName {
    width: 15%;
    min-width: 15%;
}

.fieldValue {
    width: 25%;
    min-width: 25%;
}

.fieldValueDate {
    width: 25.2%;
}

.fieldValueList {
    width: 25.7%;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.button {
    width: 15%;
}

.button-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}