<body>

    <app-menu></app-menu>
    <div class="contenido">

        <p></p>
        <p></p>
        <p></p>


        <div class="login-wrapper">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title><a (click)="goTo('configuration/forms/forms-edit')" class="link">Fields</a></mat-card-title>
                </mat-card-header>
                <form class="example-form" [formGroup]="form">
                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="name" placeholder="Name">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="pos" placeholder="Position">
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <mat-select formControlName="type" placeholder="Type">
                                <mat-option [value]="1">Text</mat-option>
                                <mat-option [value]="2">Number</mat-option>
                                <mat-option [value]="3">List</mat-option>
                                <mat-option [value]="4">Date</mat-option>
                                <mat-option [value]="5">External</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" *ngIf="isList()">
                            <mat-select formControlName="list" placeholder="List">
                                <div *ngFor="let list of lists">
                                    <mat-option [value]="list.idList">{{list.name}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" *ngIf="isExternal()">
                            <mat-select formControlName="external" placeholder="Process">
                                <div *ngFor="let process of processes">
                                    <div *ngIf="filterProcess(process.idForm)">
                                        <mat-option [value]="process.idProcess" (click)="updateExternalFields(process.idForm)">{{process.processName}}</mat-option>
                                    </div>
                                </div>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" *ngIf="isExternal()">
                            <mat-select formControlName="externalField" placeholder="Field">
                                <div *ngFor="let field of externalFields">
                                    <mat-option [value]="field.pos">{{field.nombre}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" *ngIf="isExternal()">
                            <mat-select formControlName="externalKey" placeholder="External Key">
                                <div *ngFor="let field of externalFields">
                                    <mat-option [value]="field.pos">{{field.nombre}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="example-full-width" *ngIf="isExternal()">
                            <mat-select formControlName="formKey" placeholder="Form Key">
                                <div *ngFor="let field of field">
                                    <mat-option [value]="field.pos">{{field.nombre}}</mat-option>
                                </div>
                            </mat-select>
                        </mat-form-field>



                    </mat-card-content>
                    <button mat-stroked-button color="primary" class="btn-block" (click)="edit()">Edit Field</button>
                </form>
            </mat-card>
        </div>
    </div>
</body>