<app-menu></app-menu>

<body>
    <div class="contenido">

        <p></p>
        <p></p>
        <p></p>


        <div class="login-wrapper">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title><a (click)="goTo('configuration/lists/lists-edit')" class="link">Values</a></mat-card-title>
                </mat-card-header>
                <form class="example-form" [formGroup]="form">
                    <mat-card-content>

                        <mat-form-field class="example-full-width">
                            <input matInput formControlName="name" placeholder="Name">
                        </mat-form-field>


                    </mat-card-content>
                    <button mat-stroked-button color="primary" class="btn-block" (click)="create()">Create Value</button>
                </form>
            </mat-card>
        </div>
    </div>
</body>